<div style="clear: both;"/>
<footer class="site-footer">
    <p>
      <a href="https://twitter.com/tonyjdimaggio"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/antoninodimaggio/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://github.com/antoninodimaggio"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="mailto: antoninojdimaggio@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    </p>
    2020 &copy; Antonino DiMaggio
</footer>
