<header class="site-header" role="banner" id='header-bar'>

    <div class="wrapper">
        {% assign default_paths = site.pages | map: "path" %}
        <p class="site-title" style="font-size: 20px;">{{ site.title | escape }}</p>
        <nav class="site-nav">
            <a class="page-link" href="{{ '/archive.html' | relative_url }}">&#x231b; Archive</a>
        </nav>
        <nav class="site-nav">
            <a class="page-link" href="{{ '/blog.html' | relative_url }}">&#x1F440; Blog</a>
        </nav>
        <nav class="site-nav">
            <a class="page-link" href="{{ site.url }}">&#x1F44B; About</a>
        </nav>

    </div>

</header>
